:root {
  --bg-main-beige: #FAF7F2;
  --bg-dark-gray: #1A1A1A;
  --btn-yellow: #FDC913;
  --text-light-gray: #5F5F5F;
  --text-dark-gray: #292929;
  --text-red: #CE2829;
}

body {
  background: var(--bg-main-beige);
  height: 100vh;
  width: 100%;
}

/* HEADER */

header {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 80px 0 0 0;
  text-align: center;
}

/* HERO SECTION */

main.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  height: 100vh;
  width: 100%;
  padding-top: 180px;
  background-image: url(./public/assets/iteration-1/home-banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 120px;
  text-align: center;
  color: #FFF;
  background-color: var(--text-red);
}

main.hero-section h1:first-child {
  display: none;
  color: var(--btn-yellow);
}

main.hero-section h1:last-child {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 4.375rem;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: light;
  line-height: 5.75rem;
  letter-spacing: 0.094rem;
  text-transform: uppercase;
}

main.hero-section button:hover {
  background: #e8ba12;
}

/* CONTENT AREA */

.hero-nav {
  padding: 30px 10px;
  background: #fff;
}

.navigation-area ul {
  max-width: 1100px;
  margin: 0 auto;
}

.navigation-area ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}

.navigation-area ul li {
  display: flex;
  align-items: center;
  gap: 1rem;
  min-width: 150px;
}

.card-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
}

.advertise-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 12px;
  aspect-ratio: 2 / 1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 44px 20px;
  gap: 20px;
  color: #FFF;
}

.advertise-card.xl {
  display: flex;
  flex: 1 1 60%;
  background-image: url("./public/assets/iteration-2/cta/kart-1.png");
  max-width: 530px;
}

.advertise-card.xl h1 {
  font-family: 'Quattrocento';
  font-style: normal;
  font-weight: 700;
  font-size: 4.25rem;
  line-height: 4.5rem;
  color: #FFFFFF;
}

.advertise-card.xl p {
  font-size: 1.25rem;
  line-height: 1.688rem;
  color: #FFFFFF;
}

.supporting-cards {
  display: flex;
  flex-direction: column;
  flex: 1 1 38%;
  gap: 16px;
  max-width: 530px;
}

.advertise-card.l {
  display: flex;
  padding: 32px;
}

.advertise-card.l:first-child {
  background-image: url("/public/assets/iteration-2/cta/kart-2.png");
}

.advertise-card.l:last-child {
  background-image: url("/public/assets/iteration-2/cta/kart-3.png");
  color: var(--text-dark-gray);
}

.advertise-card.l h3 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 44px;
}

.advertise-card.l span {
  color: var(--text-red);
}

.advertise-card button:hover {
  background: #dfdfdf;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.category-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.category-container button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 2rem;
  color: var(--text-dark-gray);
}

.category-container button:hover {
  background: #d5d5d5;
}

.content-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 32px;
}

.content-card {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 32px;
  border-radius: 12px;
  background: #FFF;
}

.content-picture {
  max-width: 270px;
}

.content-card-title {
  font-family: Barlow;
  font-weight: 600;
  font-size: 1.375rem;
  line-height: 1.875rem;
  letter-spacing: 0%;
  margin-bottom: 8px;
}

.content-info-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price-info-container {
  display: flex;
  align-items: center;
  gap: 30px;
  color: var(--text-dark-gray);
}

.text-price {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 25px;
}

/* FOOTER */

footer {
  padding-bottom: 0;
  background: var(--bg-dark-gray);
  color: #FFF;
}

.footer-container {
  padding: 50px 20px 0 20px;
  max-width: 1068px;
  margin: 0 auto;
}

.footer-group {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
}

.contact-item {
  display: flex;
  gap: 10px;
  align-items: center;
  color: #fff;
}

.social-grid {
  max-width: 320px;
}

.copyright-container {
  position: relative;
  padding: 50px 20px;
  width: 100%;
  max-width: 1068px;
  margin: 0 auto;
}

.copyright-container::before {
  content: "";
  position: absolute;
  left: 20px;
  top: 0;
  display: block;
  width: calc(100% - 40px);
  height: 1px;
  background: rgba(255, 255, 255, 0.15);
}